.scrollToTopBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 50;
    padding: 0.5rem 0.25rem;
    font-size: 1.5rem;
    color: var(--color-active);
    background-color:var(--color-blue-main);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    outline: none;
    border-radius: 0.75rem 0.75rem 0 0;
}

.scrollToTopBtn:hover {
    color: var(--color-white);
    background-color: var(--color-badgeId);
}

