.movieCardWrapper {
    position: relative;
    width: 270px;
    height: 540px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgba(191, 219, 254, 0.5);
    transition: transform 0.2s ease-in-out;
}
.movieCardWrapper:hover {
    transform: scale(1.05);
}
.movieItem{
    position: relative;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(191, 219, 254, 0.5);
}

.moviePoster {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 8px 8px 0 0;
}
.moviePosterPlaceholder {
    width: 100%;
    height: 400px;
    background-color: var(--color-container);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(191, 219, 254, 0.5);
}
.noImage{
    width: 100%;
    opacity: 0.3;
}
.noImageText{
    position: absolute;
    color: var(--color-active);
    font-size: 1rem;
}
.movieVideoOverlay{
    position: absolute;
    background-color: var(--color-container);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-radius: 0 8px 8px 0;
    inset: 0;
}
.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-container);
    color: var(--color-blue-main);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(191, 219, 254, 0.5);
    cursor: pointer;
}
.playButtonIcon{
    position: relative;
    left: 3px;
    bottom: 1px;
}
.movieInfoWrapper{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    cursor: default;
    background-color: var(--color-container);
    height: 140px;
   border-radius:0 0 8px 8px;
}
.movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    color: var(--color-blue-main);
    font-size: 12px;
}
.movieTitle {
    color: var(--color-border-indigo);
    font-weight: bold;
    font-size: 14px;
    width:100%;
}
.movieGenres {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}
.tag {
    border-radius: 9999px;
    padding: 0.125rem 0.25rem;
    color: var(--color-white);
    font-size: 10px;
}
.disabled {
    background-color:var(--color-disabled);
    cursor: not-allowed;
    opacity: 0.6;
}
.enabled {
    background-color:var(--color-badgeId);
    cursor: pointer;
}
.enabled:hover {
    background-color: var(--color-border-indigo);
}
